
/* Se añade estilo al cuerpo, en el se utiliza flex con
dirección columna, se estiran los elementos para que ocupen
el mayor espacio posible*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Se centra el elemento individualmente, ya que con
align-items en body no dejaría estirar el elemento al máximo*/
.title {
    align-self: center;
}


/* el 5.8% es una aproximación del (1/16)*100 teniendo en 
cuenta los bordes, es el espacio que debe ocupar cada 
como porcentage del tamaño del contenedor principal*/

.square{
    aspect-ratio: 1/1;
    flex-grow: 1;
}